<%-include('partials/header'); -%> <%-include('partials/loginNavbar'); -%>


<% courseArr.forEach((ele)=>{ %>

<section class="careusel-cse">

  <center>
    <h1><%= ele.domain %></h1>
  </center>

  <hr class="style-seven">

  <div class="cards">

    <% ele.cardlist.forEach((e)=>{ %>

      <div class="card" style="width: 400px; height:400px">
        <img src="/images/<%=e.imgurl %>" alt="thumbnail" id="course_img" style="height: 200px;width: 200px;"/>
        <h2><%= e.cardTitle %></h2>
        <div class="card-content">
          <center><p>
           <%= e.desc.slice(0,80) + "..." %>
          </p>
          <h3><%= e.author %></h3>
        </center>
          <div style="display: inline-block;"><form action="/courses/<%= courseName %>" method="post">
 
            <input type="hidden" name="extra_submit_param_itemid" value="<%=  ele.itemid %>">
            <input type="hidden" name="extra_submit_param_cardId" value="<%=  e.cardId%>">
            <input type="hidden" name ="extra_submit_param_cardTitle" value="<%= e.cardTitle%>">
            <input type="hidden" name ="extra_submit_param_imgurl" value="<%= e.imgurl%>">
            <input type="hidden" name ="extra_submit_param_author" value="<%= e.author%>">
            <input type="hidden" name ="extra_submit_param_courseName" value="<%= courseName%>">


          <!-- <button type="submit" id="courseRegisterBtn" class="btn-1">Register</button> -->
          <button type="submit" id="courseRegisterBtn" class="btn-3">Register</button>

          </form></div>

      </div>
    </div>
    <% }); %>

  </div>

</section>

<% }); %>


<%-include('partials/footer'); -%>
<!-- 
<script src="/Javascript/sign-up.js"></script> -->
<script src="/Javascript/navbar-scroll.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>