<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <script src="https://kit.fontawesome.com/c2be398612.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>


  <div class="dashboard-container">

    <div class="item side-nav">

      <div class="side-nav-item"><a href="#"><i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp; Dashboard</a></div>
      <div class="side-nav-item"><a href="/myprofile/mydetails"><i class="fa-solid fa-user"></i>&nbsp;&nbsp; My profile </a></div>
      <div class="side-nav-item"><a href="#!" id="side-nav-dropdown-btn"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp; Courses</a>
        <div class="side-nav-course-dropdown" id="side-nav-course-dropdown">
          <ul>
            <li><a href="/courses/cse" id="li-cse">CSE</a></li>
            <li><a href="/courses/electrical" id="li-ele">Electrical</a></li>
            <li><a href="/courses/civil" id="li-civil">Civil</a></li>
            <li><a href="/courses/mechanical" id="li-mech">Mechanical</a></li>
            <li><a href="/courses/chemical" id="li-chem">Chemical</a></li>
          </ul>
        </div>
      </div>
      <div class="side-nav-item"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp; Logout</a></div>

    </div>

    <div class="item analytics-dashboard">

      <h1 class="analytics-heading"> Analytics dashboard</h1>

      <div class="dashboard-content">

        <div class="dashboard-content-item-1">
          <div class="item-d">
            <i class="fa-duotone fa-chart-mixed"></i>
            
            <div class="circular-prgress" id="circular-progress1">
              <div class="value-container" id="value-container1">0%</div>
              <input type="hidden" id="course-count1" value="<%= courseArr.length %>">
            </div>

            <p> Courses Registered</p>
            <p>16 Hours</p>
          </div>
          <div class="item-d">
            
            <div class="circular-prgress" id="cicular-progress2">
              <div class="value-container" id="value-container2">0%</div>
              <input type="hidden" id="course-count2" value="<%= courseArr.length %>">
            </div>

            <p>Total Courses Registered</p>
            <p>
              <%= courseArr.length %>
            </p>
          </div>
          <div class="item-d">

            <div class="circular-prgress" id="circular-progress3">
              <div class="value-container" id="value-container3">0%</div>
              <input type="hidden" id="course-count3" value="<%= courseArr.length %>">
            </div>

            <p>Completed Courses</p>
            <p>5</p>
          </div>

        </div>


        <div class="dashboard-content-item-2">

          <h1> List of enrolled classes </h1>


          <% if(courseArr.length==0){ %>
            <p>No course are enrolled !!!</p>

            <% } else{ %>


          <% courseArr.forEach((ele)=>{ %>
          <div class="enroll-class">

            <div> <a href="/courses/<%=ele.courseName%>/pcourse/<%= ele.itemId%>/student/<%= ele.cardId %>"><img src="/images/<%= ele.imgurl %>" alt="Image of course" style="width: 100px; height: 100px;"></a>

              <p>
                <%= ele.cardTitle %>
              </p>

            </div>

            <div><span>By <%= ele.author %>
              </span></div>

            <div><a href="/courses/<%=ele.courseName%>/pcourse/<%= ele.itemId%>/student/<%= ele.cardId %>"><button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO to
                </button></a>
            </div>


            <div>
              <form action="/myprofile" method="post"><a href=""><button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button></a>

                <input type="hidden" name="extra_submit_param_cardId" value="<%= ele.cardId %>">

              </form>
            </div>
          </div>

          <% }) %>

                  <% } %>



        </div>


      </div>

    </div>

  </div>
  <script src="Javascript/dashboard.js"></script>


  <%-include('partials/footer'); -%>
    <!-- <script src="/Javascript/dashboard.js"></script> -->

    <script>

      let pbar1 = document.getElementById("circular-progress1");

      let valueContainer1 = document.getElementById("value-container1");

      console.log(pbar1, valueContainer1);

      valueContainer1.textContent = document.getElementById("course-count1").value;
      
      pbar1.style.background=`conic-gradient( #f711a3 ${document.getElementById("course-count1").value * 3.6}deg,
      #FFC0CB ${document.getElementById("course-count1").value * 3.6}deg )`


    </script>

</body>

</html>