
<%- include('partials/header') -%>
<%- include('partials/navbar') -%>



<div class="container-pcourse">

    <div class="view">
         
        <% itemsArray.forEach((ele)=>{ %>

            <form action="/courses/<%= courseName%>/pcourse/<%= itemId%>/student/<%= courseId%>" method="post">

                <a href="">
                    <div>
                        <h1>
                            <%= ele.snippet.title %>
                        </h1>
                    </div>
                </a>
                <input type="hidden" name="extra_submit_param" value="<%=  ele.snippet.resourceId.videoId %>">
                <button type="submit" name="submit_param" value="submit_value">Play</button>
            </form>

            <% }); %>
    </div>
    <div class="list-videos"></div>
</div>



<%- include('partials/footer') -%>